<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code Result</title>
    <style>
        .code-box {
            border: 2px dashed black;
            padding: 1rem;
            white-space: pre-wrap;
            font-family: monospace;
            background-color: #f7f7f7;
            margin-bottom: 1rem;
        }
    </style>

</head>
<body>

    <h1>Original Code:</h1>
    <div class="code-box" th:text="${userCode}"></div>

    <h1>Formatted Code:</h1>
    <div class="code-box" th:text="${codeOutput}"></div>

    <h2>Expiry in: </h2>
    <div class="code-box" th:text="${expiry}"></div>

    <h2>CodeID: </h2>
    <div class="code-box" th:text="${codeId}"></div>

    <a href="/userForm">Back</a>

</body>
</html>