<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<body>
<section>
    <div class="card shadow p-4">
        <h2 class="card-title mb-4">Formatted Java Code</h2>

        <h1 th:text="${error}"></h1>
        <pre class="bg-light p-3 rounded" th:text="${userCode}"></pre>
        <h2>Formatter Code:</h2><br>
        <textarea class="bg-light p-3 rounded" th:text="${codeOutput}"></textarea>
        <pre class="bg-light p-3 rounded" th:text="${expiry}"></pre>
        <pre class="bg-light p-3 rounded" th:text="${codeId}"></pre>

        <a href="/codeFormater/userForm" class="btn btn-secondary mt-3">Format Another Code</a>
        <i class="bi bi-amazon"></i>
    </div>
</section>
</body>
</html>
