<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .code-box {
            border: 2px dashed black;
            padding: 1rem;
            white-space: pre-wrap;
            font-family: monospace;
            background-color: #f7f7f7;
            margin-bottom: 1rem;
        }
    </style>

</head>
<body>

    <h1>Saved Code:</h1>
    <div class="code-box" th:text="${codeID}"></div>

</body>
</html>